.title{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

a.title:active, a.title:focus{
    outline: none;
    border: none;
}

a.title:hover{
    color: var(--md-sys-color-primary);
}